/* transformación */
@keyframes rebote {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.title-section {
  color: darkgreen;
  text-align: center;
  animation: rebote 2s;
}

.help {
  text-align: center;
}

.sections {
  max-width: 100%;
  display: flex;
}

.article {
  background-color: white;
  display: flex;
  margin: 2rem;
  border: solid 0.2rem black;
  align-content: center;
}

.check-text {
  position:absolute;
  align-self: flex-end;
  background-color: white;
}


.ficha {
  position: absolute;
  margin: 5vw;
  display: grid;
  text-align: center;
  background-color: lightblue;
  visibility: hidden;
}

.article:hover .ficha {
  visibility: visible;
}

.favorit {
  position: absolute;
  background:  url("../img/corazon.png") center center no-repeat;
  background-size: contain;
  padding: 1rem;
}




@media (max-width: 768px) {
  .article {
    display: flex;
    margin: 0.5rem;
  }
  
  .ficha {
    margin-top: 2rem;
    font-size: 10px;
  }
}
