/* transformación */
@keyframes rebote {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.title-section {
  color: darkgray;
  text-align: center;
  animation: rebote 2s;
}

.sections {
  max-width: 100%;
  border: solid 1px coral;
  display: flex;
}

.article {
  display: flex;
  margin: 2rem;
  border: solid 0.2rem black;
  align-content: center;
}
