.section-contact {
    margin-top: 2rem;
    padding: 3rem 1rem;
    background-color: lightgreen;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 0 1rem 1rem 0;
    display: block;
}

input[type='text'],
input[type='email'],
textarea{
    width: 100%;
    font-size: 1.1rem;
    padding: 0.5rem;
}

textarea {
    height: 12rem;
}

.submit {
    padding: 0.5rem;
    font-size: 1.1rem;
    min-width: 10rem;

    border-radius: 9999px;
    border: 0;
    background: darkgreen;
    background:linear-gradient(90deg, rgba(0, 188, 212, 1) 0%, rgba(255, 85, 0, 1));
}

@media (min-width: 678px) {
    #contact-form {
        display: grid;
        margin: 2rem;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }


}