@media (min-width: 768px) {
  .content-trailer {
    display: flex;
  }
  
  .ficha-trailer {
    padding-top: 20vh;
    padding-left: 0.5vh;
  }
  .trailer {
    height: 60vh;
    padding: 2rem 2rem;
  }  
}

.container {
  padding: 2rem;
  display: grid;
  justify-content: center;
  grid-template-columns: 25vh 25vh 25vh;
}

.container-title {
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 4;
}

