.navbar {
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  left: 0;
  height: var(--navbar-height);
}

.logo {
  line-height: var(--navbar-height);
  text-align: center;
}

#burger-checkbox {
  display: none;
}

.burger-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
}
.burger-label:before {
  content: "";
  background-color: grey;
  width: 1rem;
  height: 0.12rem;
  position: absolute;
  left: 0.45rem;
  top: 0.75rem;

  /*sombras*/
  box-shadow: 0 0.25rem 0 0 grey, 0 0.5rem 0 0 grey;
}

/*cerrado*/
.navbar-list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* abierto */
#burger-checkbox:checked ~ .navbar-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: black;
  height: calc(100vh - var(--navbar-height));
  opacity: 0.85;
}

.navbar-item {
}

.navbar-item a {
  color: white; /* Para las imagenes transparentes */
  display: block;
  text-align: center;
  line-height: 3rem;
  font-size: 2rem;
}

.bottom-search {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-around;
  }

  .navbar .logo {
    margin: 0 1rem;
    position: relative;
  }

  .navbar .burger-label {
    display: none;
  }

  .navbar-list {
    display: flex;
  }

  .navbar-item a {
    color: black;
    font-size: 0.65rem;
    line-height: var(--navbar-height);
    padding: 0 2rem;
  }

  .bottom-search {
    margin: 0.25rem 0.5rem 0.25rem 0.25rem;
  }
}
