:root {
  --navbar-height: 40px;
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a,
a:link,
a:visited,
a:focus {
  text-decoration: none;
  color: darkblue;
}

body {
  background-color: lightcoral;
}
